* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.heading {
    height: 99vh;
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    background-position: center;

}
#about-us h3{
    font-family: "Roboto", "sans-serif";
}
#about-us p{
    line-height: 2.3em;
}